In [13]:
import pandas as pd
df = pd.read_csv("manifesto-data-main.csv")

#Filter to pre-selected country list
euCountries = ['Austria','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic', 'Denmark', 'Estonia','Finland','France','Germany', 'Greece','Hungary','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Poland','Portugal','Romania','Slovakia','Slovenia','Spain','Sweden']

df = df[df.countryname.isin(euCountries)]

In [14]:
#convert dates and add year
import datetime

df['date'] = pd.to_datetime(df['date'], format='%Y%m')
df['year'] = df['date'].dt.strftime('%Y')
df['electionDate'] = df['date'].dt.strftime('%B %Y')

df.head()
#Total rows = 2,622

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
0,11,Sweden,0,0,17/09/1944,1944-09-01,11220,Communist Party of Sweden,SKP,20,...,NaN,9.60,1.9,1.900,0.0,1.900,2020b,JN1LZH,1944,September 1944
1,11,Sweden,0,0,17/09/1944,1944-09-01,11320,Social Democratic Labour Party,SAP,30,...,NaN,-37.80,3.3,2.200,33.4,5.600,2020b,CMR7F6,1944,September 1944
2,11,Sweden,0,0,17/09/1944,1944-09-01,11420,People’s Party,FP,40,...,NaN,9.50,3.2,6.400,14.3,1.600,2020b,Z6OL6C,1944,September 1944
3,11,Sweden,0,0,17/09/1944,1944-09-01,11620,Right Party,NaN,60,...,NaN,28.00,1.8,22.800,10.6,0.000,2020b,YMKVN2,1944,September 1944
4,11,Sweden,0,0,17/09/1944,1944-09-01,11810,Agrarian Party,NaN,80,...,NaN,23.81,0.0,19.048,0.0,4.762,2020b,U4SCRD,1944,September 1944

In [4]:
#check for missing values
df.per503.isnull()
per503Missing = df[df.per503.isnull()] #missing values = 7

#Remove missing values with Index
missingValues = list(per503Missing.index)
df = df[~df.index.isin(missingValues)]
df.head()

#Total rows = 2,615

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
0,11,Sweden,0,0,17/09/1944,1944-09-01,11220,Communist Party of Sweden,SKP,20,...,NaN,9.60,1.9,1.900,0.0,1.900,2020b,JN1LZH,1944,September 1944
1,11,Sweden,0,0,17/09/1944,1944-09-01,11320,Social Democratic Labour Party,SAP,30,...,NaN,-37.80,3.3,2.200,33.4,5.600,2020b,CMR7F6,1944,September 1944
2,11,Sweden,0,0,17/09/1944,1944-09-01,11420,People’s Party,FP,40,...,NaN,9.50,3.2,6.400,14.3,1.600,2020b,Z6OL6C,1944,September 1944
3,11,Sweden,0,0,17/09/1944,1944-09-01,11620,Right Party,NaN,60,...,NaN,28.00,1.8,22.800,10.6,0.000,2020b,YMKVN2,1944,September 1944
4,11,Sweden,0,0,17/09/1944,1944-09-01,11810,Agrarian Party,NaN,80,...,NaN,23.81,0.0,19.048,0.0,4.762,2020b,U4SCRD,1944,September 1944

In [5]:
#Just removing one row because of no value for ParFam

missing = df.parfam == 999
df_missing = df[missing]

df_missing

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
3529,81,Croatia,0,20,25/11/2007,2007-11-01,81041,"Coalition of the Croatian Peasant Party, the C...",HSS-HSLS-PGS,999,...,NaN,-25.689,0.29,1.161,16.401,0.0,2020b,PYMH6K,2007,November 2007

In [6]:
#Remove missing parfam: Code 999
df = df[(df.parfam != 999)]

df.head()
#Total rows now 2,614

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
0,11,Sweden,0,0,17/09/1944,1944-09-01,11220,Communist Party of Sweden,SKP,20,...,NaN,9.60,1.9,1.900,0.0,1.900,2020b,JN1LZH,1944,September 1944
1,11,Sweden,0,0,17/09/1944,1944-09-01,11320,Social Democratic Labour Party,SAP,30,...,NaN,-37.80,3.3,2.200,33.4,5.600,2020b,CMR7F6,1944,September 1944
2,11,Sweden,0,0,17/09/1944,1944-09-01,11420,People’s Party,FP,40,...,NaN,9.50,3.2,6.400,14.3,1.600,2020b,Z6OL6C,1944,September 1944
3,11,Sweden,0,0,17/09/1944,1944-09-01,11620,Right Party,NaN,60,...,NaN,28.00,1.8,22.800,10.6,0.000,2020b,YMKVN2,1944,September 1944
4,11,Sweden,0,0,17/09/1944,1944-09-01,11810,Agrarian Party,NaN,80,...,NaN,23.81,0.0,19.048,0.0,4.762,2020b,U4SCRD,1944,September 1944

In [15]:
df = df[['parfam','year','countryname','per501','per502','per503','pervote','rile','electionDate', 'partyname']]

df

,parfam,year,countryname,per501,per502,per503,pervote,rile,electionDate,partyname
0,20,1944,Sweden,0.000,0.000,0.000,10.300,9.600,September 1944,Communist Party of Sweden
1,30,1944,Sweden,0.000,0.000,5.600,46.500,-37.800,September 1944,Social Democratic Labour Party
2,40,1944,Sweden,0.000,0.000,1.600,12.900,9.500,September 1944,People’s Party
3,60,1944,Sweden,0.000,0.000,5.300,15.800,28.000,September 1944,Right Party
4,80,1944,Sweden,0.000,0.000,0.000,13.600,23.810,September 1944,Agrarian Party
...,...,...,...,...,...,...,...,...,...,...
4446,40,2018,Slovenia,1.681,1.681,2.941,5.105,-8.403,June 2018,Party of Alenka Bratušek
4447,40,2018,Slovenia,5.512,6.299,3.937,9.748,-8.661,June 2018,Modern Centre Party
4448,50,2018,Slovenia,0.994,1.551,0.915,7.159,10.537,June 2018,New Slovenian Christian People’s Party
4449,70,2018,Slovenia,5.556,3.968,0.794,4.173,7.937,June 2018,Slovenian National Party
4450,95,2018,Slovenia,5.369,8.389,2.013,4.925,-28.523,June 2018,Democratic Party of Pensioners of Slovenia

In [9]:
#Add weighted average - not using weighted values anymore (April 16)

# df['environWeighted'] = df.per503*df.pervote

# df.head()

,parfam,year,countryname,per503,pervote,electionDate,partyname,environWeighted
0,20,1944,Sweden,0.0,10.3,September 1944,Communist Party of Sweden,0.00
1,30,1944,Sweden,5.6,46.5,September 1944,Social Democratic Labour Party,260.40
2,40,1944,Sweden,1.6,12.9,September 1944,People’s Party,20.64
3,60,1944,Sweden,5.3,15.8,September 1944,Right Party,83.74
4,80,1944,Sweden,0.0,13.6,September 1944,Agrarian Party,0.00

In [19]:
df = df.rename(columns={'per501': 'environ', 'per502': 'culture', 'per503': 'equality'})

In [17]:
#Set index
df = df.set_index(pd.DatetimeIndex(df['year'])).drop(['year'], axis=1)

In [20]:
df.to_csv('cleaned-data-2.csv')

In [9]:
#Austria

parfams = [10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98]

austriaDF = df2.loc[(df2['countryname'] == 'Austria')]

#filter to just those parties, to remove duplicates when using reindex
austria10df = austriaDF.loc[(austriaDF['parfam']== 10)]
# austria20df = df2.loc[(df2['parfam']== 20)]
# austria30df = df2.loc[(df2['parfam']== 30)]
# austria40df = df2.loc[(df2['parfam']== 40)]
# austria50df = df2.loc[(df2['parfam']== 50)]
# austria60df = df2.loc[(df2['parfam']== 60)]
# austria70df = df2.loc[(df2['parfam']== 70)]
# austria80df = df2.loc[(df2['parfam']== 80)]
# austria90df = df2.loc[(df2['parfam']== 90)]
# austria95df = df2.loc[(df2['parfam']== 95)]
# austria98df = df2.loc[(df2['parfam']== 98)]

#get min year
austriaMinYear = austriaDF.year.min()

#set index range for reindex
austriaIdx = pd.date_range(austriaMinYear, '2020', freq='YS')

# #reindex for each par fam and output as new DFs
austria10 = austria10df.reindex(index=austriaIdx, method='ffill')
# austria20 = austria20df.reindex(index=austriaIdx, method='ffill')
# austria30 = austria30df.reindex(index=austriaIdx, method='ffill')
# austria40 = austria40df.reindex(index=austriaIdx, method='ffill')
# austria50 = austria50df.reindex(index=austriaIdx, method='ffill')
# austria60 = austria60df.reindex(index=austriaIdx, method='ffill')
# austria70 = austria70df.reindex(index=austriaIdx, method='ffill')
# austria80 = austria80df.reindex(index=austriaIdx, method='ffill')
# austria90 = austria90df.reindex(index=austriaIdx, method='ffill')
# austria95 = austria95df.reindex(index=austriaIdx, method='ffill')
# austria98 = austria98df.reindex(index=austriaIdx, method='ffill')

ValueError: cannot reindex a non-unique index with a method or limit

In [17]:
sweden = sweden20.append(sweden60)