In [1]:
import pandas as pd
pd.set_option("display.precision", 2) #always just show 2 decimal points

df = pd.read_csv("finalData/cleaned-data-2.csv")

df.head()

,year,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname
0,1944-01-01,20,Sweden,0.0,0.0,0.0,10.3,9.60,September 1944,Communist Party of Sweden
1,1944-01-01,30,Sweden,0.0,0.0,5.6,46.5,-37.80,September 1944,Social Democratic Labour Party
2,1944-01-01,40,Sweden,0.0,0.0,1.6,12.9,9.50,September 1944,People’s Party
3,1944-01-01,60,Sweden,0.0,0.0,5.3,15.8,28.00,September 1944,Right Party
4,1944-01-01,80,Sweden,0.0,0.0,0.0,13.6,23.81,September 1944,Agrarian Party

In [2]:
#Add column with Parfam abbreviations
import numpy as np 

#Change parfam codes to abbreviations for better identification
conditions = [
    (df['parfam'] == 10),
    (df['parfam'] == 20),
    (df['parfam'] == 30),
    (df['parfam'] == 40),
    (df['parfam'] == 50),
    (df['parfam'] == 60),
    (df['parfam'] == 70),
    (df['parfam'] == 80),
    (df['parfam'] == 90),
    (df['parfam'] == 95),
    (df['parfam'] == 98),
]

values = ['ECO','LEF','SOC','LIB','CHR', 'CON', 'NAT', 'AGR', 'ETH', 'SIP', 'DIV']

df['parfamName'] = np.select(conditions,values)


df.head()

,year,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname,parfamName
0,1944-01-01,20,Sweden,0.0,0.0,0.0,10.3,9.60,September 1944,Communist Party of Sweden,LEF
1,1944-01-01,30,Sweden,0.0,0.0,5.6,46.5,-37.80,September 1944,Social Democratic Labour Party,SOC
2,1944-01-01,40,Sweden,0.0,0.0,1.6,12.9,9.50,September 1944,People’s Party,LIB
3,1944-01-01,60,Sweden,0.0,0.0,5.3,15.8,28.00,September 1944,Right Party,CON
4,1944-01-01,80,Sweden,0.0,0.0,0.0,13.6,23.81,September 1944,Agrarian Party,AGR

In [3]:
#Checking all the missing values are gone
dfMissing = df[df['parfam']==999]
dfMissing

Empty DataFrame
Columns: [year, parfam, countryname, environ, culture, equality, pervote, rile, electionDate, partyname, parfamName]
Index: []

In [4]:
#Add column with static rile instead of dynamic just in case

conditionsStatic = [
    (df['parfam'] == 10),
    (df['parfam'] == 20),
    (df['parfam'] == 30),
    (df['parfam'] == 40),
    (df['parfam'] == 50),
    (df['parfam'] == 60),
    (df['parfam'] == 70),
    (df['parfam'] == 80),
    (df['parfam'] == 90),
    (df['parfam'] == 95),
    (df['parfam'] == 98),
]

valuesStatic = [-13.65,-23.66,-14,4.61,6.13,11.64,10.25,1.01,-9.04,3.36,-10.52]

df['staticRile'] = np.select(conditionsStatic,valuesStatic)

df.head()

,year,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname,parfamName,staticRile
0,1944-01-01,20,Sweden,0.0,0.0,0.0,10.3,9.60,September 1944,Communist Party of Sweden,LEF,-23.66
1,1944-01-01,30,Sweden,0.0,0.0,5.6,46.5,-37.80,September 1944,Social Democratic Labour Party,SOC,-14.00
2,1944-01-01,40,Sweden,0.0,0.0,1.6,12.9,9.50,September 1944,People’s Party,LIB,4.61
3,1944-01-01,60,Sweden,0.0,0.0,5.3,15.8,28.00,September 1944,Right Party,CON,11.64
4,1944-01-01,80,Sweden,0.0,0.0,0.0,13.6,23.81,September 1944,Agrarian Party,AGR,1.01

In [5]:
#Extract yearObject

df['year'] = pd.to_datetime(df['year'], format='%Y-%m-%d')
df['yearIndex'] = df['year'].dt.year

df.head()

,year,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname,parfamName,staticRile,yearIndex
0,1944-01-01,20,Sweden,0.0,0.0,0.0,10.3,9.60,September 1944,Communist Party of Sweden,LEF,-23.66,1944
1,1944-01-01,30,Sweden,0.0,0.0,5.6,46.5,-37.80,September 1944,Social Democratic Labour Party,SOC,-14.00,1944
2,1944-01-01,40,Sweden,0.0,0.0,1.6,12.9,9.50,September 1944,People’s Party,LIB,4.61,1944
3,1944-01-01,60,Sweden,0.0,0.0,5.3,15.8,28.00,September 1944,Right Party,CON,11.64,1944
4,1944-01-01,80,Sweden,0.0,0.0,0.0,13.6,23.81,September 1944,Agrarian Party,AGR,1.01,1944

In [6]:
#Filter out to columns I need in the right order

df_cleaned = df[['yearIndex','parfamName','parfam','countryname','environ','culture','equality','pervote','rile','staticRile','electionDate','partyname']]

df_cleaned = df_cleaned.set_index('partyname')

In [23]:
#Option I know, create and repeat, then join laters

df_filtered = df_cleaned.loc[(df_cleaned['countryname']=='Spain')]

df_pivot = pd.pivot_table(df_filtered, index={'partyname','yearIndex', 'parfamName'},values=['parfam','environ','culture','equality','pervote','rile','staticRile'], aggfunc={'parfam' : 'count', 'environ' : 'sum','culture' : 'sum','equality' : 'sum', 'pervote' : 'sum', 'rile' : 'mean', 'staticRile':'min'}, dropna=True)
df_pivot = df_pivot.rename(columns={'parfam':'parfamCount'})
df_pivot['avgVote'] = (df_pivot['pervote'])/(df_pivot['parfamCount'])
df_pivot['countryname'] = 'Spain'

df_pivot.to_csv('country-data-unfilled/spain.csv')

df_pivot

                                                       culture  environ  \
yearIndex parfamName partyname
1977      CON        Popular Alliance                     0.00     0.00
          ETH        Andalusian Party                     0.88     3.52
                     Aragonese Regionalist Party          3.29     1.82
                     Basque Left                          0.00     4.96
                     Basque Nationalist Party             1.19     2.38
...                                                        ...      ...
2019      LEF        United Left                          7.11    15.42
                     We can                               3.49     8.53
          LIB        Citizens - Party of the Citizens     9.59     6.13
          NAT        Voice                                3.45     0.00
          SOC        Spanish Socialist Workers’ Party     7.12     5.40

                                                       equality  parfamCount  \
yearIndex parfamName partyname
1977      CON        Popular Alliance                      2.59            1
          ETH        Andalusian Party                      1.76            1
                     Aragonese Regionalist Party           1.56            1
                     Basque Left                           2.87            1
                     Basque Nationalist Party              2.38            1
...                                                         ...          ...
2019      LEF        United Left                          22.20            2
                     We can                               17.03            2
          LIB        Citizens - Party of the Citizens     12.06            2
          NAT        Voice                                 7.00            2
          SOC        Spanish Socialist Workers’ Party     21.09            2

                                                       pervote   rile  \
yearIndex parfamName partyname
1977      CON        Popular Alliance                     8.42  12.07
          ETH        Andalusian Party                     0.01 -22.42
                     Aragonese Regionalist Party          0.21 -14.88
                     Basque Left                          0.34 -23.50
                     Basque Nationalist Party             1.70 -20.24
...                                                        ...    ...
2019      LEF        United Left                          3.19 -39.72
                     We can                              20.10 -38.79
          LIB        Citizens - Party of the Citizens    22.84 -12.92
          NAT        Voice                               25.55  33.89
          SOC        Spanish Socialist Workers’ Party    57.15 -28.96

                                                       staticRile  avgVote  \
yearIndex parfamName partyname
1977      CON        Popular Alliance                       11.64     8.42
          ETH        Andalusian Party                       -9.04     0.01
                     Aragonese Regionalist Party            -9.04     0.21
                     Basque Left                            -9.04     0.34
                     Basque Nationalist Party               -9.04     1.70
...                                                           ...      ...
2019      LEF        United Left                           -23.66     1.59
                     We can                                -23.66    10.05
          LIB        Citizens - Party of the Citizens        4.61    11.42
          NAT        Voice                                  10.25    12.78
          SOC        Spanish Socialist Workers’ Party      -14.00    28.58

                                                      countryname
yearIndex parfamName partyname
1977      CON        Popular Alliance                       Spain
          ETH        Andalusian Party                       Spain
                     Aragonese Regionalist Party            Spain
                     Basque Left                            Spain
                     Basque Nationalist Party               Spain
...                                                           ...
2019      LEF        United Left                            Spain
                     We can                                 Spain
          LIB        Citizens - Party of the Citizens       Spain
          NAT        Voice                                  Spain
          SOC        Spanish Socialist Workers’ Party       Spain

[161 rows x 9 columns]

In [28]:
#Group programmatically
import glob

#Read in all country data
path = r'/Users/rvpazos/Documents/mvtec/ManifestoProject/workshop2-manifesto-rebeccaFolder/country-data-unfilled' # use your path
all_files = glob.glob(path + "/*.csv")

all_files
li = []
for filename in all_files:
    df = pd.read_csv(filename,header=0)
    li.append(df)

allData = pd.concat(li, axis=0)

allData.to_csv('country-data-unfilled/merged.csv')

In [16]:
#Better option - see how to split into multple dataframes programmatically
d = dict(tuple(df.groupby('countryname')))

d['Sweden']

,year,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname,parfamName,staticRile,yearIndex
0,1944-01-01,20,Sweden,0.00,0.00,0.00,10.30,9.60,September 1944,Communist Party of Sweden,LEF,-23.66,1944
1,1944-01-01,30,Sweden,0.00,0.00,5.60,46.50,-37.80,September 1944,Social Democratic Labour Party,SOC,-14.00,1944
2,1944-01-01,40,Sweden,0.00,0.00,1.60,12.90,9.50,September 1944,People’s Party,LIB,4.61,1944
3,1944-01-01,60,Sweden,0.00,0.00,5.30,15.80,28.00,September 1944,Right Party,CON,11.64,1944
4,1944-01-01,80,Sweden,0.00,0.00,0.00,13.60,23.81,September 1944,Agrarian Party,AGR,1.01,1944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,2018-01-01,40,Sweden,7.68,2.94,7.35,5.49,-1.14,September 2018,Liberals,LIB,4.61,2018
133,2018-01-01,50,Sweden,0.00,0.00,0.00,6.32,-12.71,September 2018,Christian Democrats,CHR,6.13,2018
134,2018-01-01,60,Sweden,8.06,2.69,4.78,19.84,7.56,September 2018,Moderate Coalition Party,CON,11.64,2018
135,2018-01-01,70,Sweden,4.43,3.96,4.20,17.53,-9.09,September 2018,Sweden Democrats,NAT,10.25,2018
136,2018-01-01,80,Sweden,15.62,0.00,8.03,8.61,9.98,September 2018,Centre Party,AGR,1.01,2018

In [18]:
euCountries = ['Austria','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic', 'Denmark', 'Estonia','Finland','France','Germany', 'Greece','Hungary','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Poland','Portugal','Romania','Slovakia','Slovenia','Spain','Sweden'] 

for country in euCountries:
    d[country] = pd.pivot_table(d[country], 
                    index={'parfamName','yearIndex'}, 
                    values=[
                        'parfam',
                        'environ',
                        'culture',
                        'equality',
                        'pervote',
                        'rile',
                        'staticRile'], 
                    aggfunc={
                        'parfam' : 'count', 
                        'environ' : 'sum',
                        'culture' : 'sum',
                        'equality' : 'sum', 
                        'pervote' : 'sum', 
                        'rile' : 'mean', 
                        'staticRile':'min'}, 
                    dropna=True)
    d[country] = d[country].rename(columns={'parfam':'parfamCount'})
    d[country] = (d[country]['pervote'])/(d[country]['parfamCount'])

KeyError: 'parfam'