In [1]:
import pandas as pd
df = pd.read_csv("manifesto-data-main.csv")

#Filter to pre-selected country list
euCountries = ['Austria','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic', 'Denmark', 'Estonia','Finland','France','Germany', 'Greece','Hungary','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Poland','Portugal','Romania','Slovakia','Slovenia','Spain','Sweden']

df = df[df.countryname.isin(euCountries)]

In [2]:
#convert dates and add year
import datetime

df['date'] = pd.to_datetime(df['date'], format='%Y%m')
df['year'] = df['date'].dt.strftime('%Y')
df['electionDate'] = df['date'].dt.strftime('%B %Y')

df.head()
#Total rows = 2,622

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
0,11,Sweden,0,0,17/09/1944,1944-09-01,11220,Communist Party of Sweden,SKP,20,...,NaN,9.60,1.9,1.900,0.0,1.900,2020b,JN1LZH,1944,September 1944
1,11,Sweden,0,0,17/09/1944,1944-09-01,11320,Social Democratic Labour Party,SAP,30,...,NaN,-37.80,3.3,2.200,33.4,5.600,2020b,CMR7F6,1944,September 1944
2,11,Sweden,0,0,17/09/1944,1944-09-01,11420,People’s Party,FP,40,...,NaN,9.50,3.2,6.400,14.3,1.600,2020b,Z6OL6C,1944,September 1944
3,11,Sweden,0,0,17/09/1944,1944-09-01,11620,Right Party,NaN,60,...,NaN,28.00,1.8,22.800,10.6,0.000,2020b,YMKVN2,1944,September 1944
4,11,Sweden,0,0,17/09/1944,1944-09-01,11810,Agrarian Party,NaN,80,...,NaN,23.81,0.0,19.048,0.0,4.762,2020b,U4SCRD,1944,September 1944

In [5]:
#check for missing values
df.per503.isnull()
per503Missing = df[df.per503.isnull()] #missing values = 7

#Remove missing values with Index
missingValues = list(per503Missing.index)
df = df[~df.index.isin(missingValues)]
df.head()

#Total rows = 2,615

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
0,11,Sweden,0,0,17/09/1944,1944-09-01,11220,Communist Party of Sweden,SKP,20,...,NaN,9.60,1.9,1.900,0.0,1.900,2020b,JN1LZH,1944,September 1944
1,11,Sweden,0,0,17/09/1944,1944-09-01,11320,Social Democratic Labour Party,SAP,30,...,NaN,-37.80,3.3,2.200,33.4,5.600,2020b,CMR7F6,1944,September 1944
2,11,Sweden,0,0,17/09/1944,1944-09-01,11420,People’s Party,FP,40,...,NaN,9.50,3.2,6.400,14.3,1.600,2020b,Z6OL6C,1944,September 1944
3,11,Sweden,0,0,17/09/1944,1944-09-01,11620,Right Party,NaN,60,...,NaN,28.00,1.8,22.800,10.6,0.000,2020b,YMKVN2,1944,September 1944
4,11,Sweden,0,0,17/09/1944,1944-09-01,11810,Agrarian Party,NaN,80,...,NaN,23.81,0.0,19.048,0.0,4.762,2020b,U4SCRD,1944,September 1944

In [4]:
#Just removing one row because of no value for ParFam

missing = df.parfam == 999
df_missing = df[missing]

df_missing

Empty DataFrame
Columns: [country, countryname, oecdmember, eumember, edate, date, party, partyname, partyabbrev, parfam, coderid, manual, coderyear, testresult, testeditsim, pervote, voteest, presvote, absseat, totseats, progtype, datasetorigin, corpusversion, total, peruncod, per101, per102, per103, per104, per105, per106, per107, per108, per109, per110, per201, per202, per203, per204, per301, per302, per303, per304, per305, per401, per402, per403, per404, per405, per406, per407, per408, per409, per410, per411, per412, per413, per414, per415, per416, per501, per502, per503, per504, per505, per506, per507, per601, per602, per603, per604, per605, per606, per607, per608, per701, per702, per703, per704, per705, per706, per1011, per1012, per1013, per1014, per1015, per1016, per1021, per1022, per1023, per1024, per1025, per1026, per1031, per1032, per1033, per2021, per2022, per2023, per2031, ...]
Index: []

[0 rows x 176 columns]

In [3]:
#Remove missing parfam: Code 999
df = df[(df.parfam != 999)]

df.head()
#Total rows now 2,614

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm,year,electionDate
0,11,Sweden,0,0,17/09/1944,1944-09-01,11220,Communist Party of Sweden,SKP,20,...,NaN,9.60,1.9,1.900,0.0,1.900,2020b,JN1LZH,1944,September 1944
1,11,Sweden,0,0,17/09/1944,1944-09-01,11320,Social Democratic Labour Party,SAP,30,...,NaN,-37.80,3.3,2.200,33.4,5.600,2020b,CMR7F6,1944,September 1944
2,11,Sweden,0,0,17/09/1944,1944-09-01,11420,People’s Party,FP,40,...,NaN,9.50,3.2,6.400,14.3,1.600,2020b,Z6OL6C,1944,September 1944
3,11,Sweden,0,0,17/09/1944,1944-09-01,11620,Right Party,NaN,60,...,NaN,28.00,1.8,22.800,10.6,0.000,2020b,YMKVN2,1944,September 1944
4,11,Sweden,0,0,17/09/1944,1944-09-01,11810,Agrarian Party,NaN,80,...,NaN,23.81,0.0,19.048,0.0,4.762,2020b,U4SCRD,1944,September 1944

In [6]:
df = df[['parfam','year','countryname','per503','pervote','electionDate', 'partyname']]

In [7]:
#Add weighted average

df['environWeighted'] = df.per503*df.pervote

df.head()

,parfam,year,countryname,per503,pervote,electionDate,partyname,environWeighted
0,20,1944,Sweden,0.0,10.3,September 1944,Communist Party of Sweden,0.00
1,30,1944,Sweden,5.6,46.5,September 1944,Social Democratic Labour Party,260.40
2,40,1944,Sweden,1.6,12.9,September 1944,People’s Party,20.64
3,60,1944,Sweden,5.3,15.8,September 1944,Right Party,83.74
4,80,1944,Sweden,0.0,13.6,September 1944,Agrarian Party,0.00

In [8]:
#Set index
df2 = df.set_index(pd.DatetimeIndex(df['year']))

In [9]:
#Austria

parfams = [10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98]

austriaDF = df2.loc[(df2['countryname'] == 'Austria')]

#filter to just those parties, to remove duplicates when using reindex
austria10df = austriaDF.loc[(austriaDF['parfam']== 10)]
# austria20df = df2.loc[(df2['parfam']== 20)]
# austria30df = df2.loc[(df2['parfam']== 30)]
# austria40df = df2.loc[(df2['parfam']== 40)]
# austria50df = df2.loc[(df2['parfam']== 50)]
# austria60df = df2.loc[(df2['parfam']== 60)]
# austria70df = df2.loc[(df2['parfam']== 70)]
# austria80df = df2.loc[(df2['parfam']== 80)]
# austria90df = df2.loc[(df2['parfam']== 90)]
# austria95df = df2.loc[(df2['parfam']== 95)]
# austria98df = df2.loc[(df2['parfam']== 98)]

#get min year
austriaMinYear = austriaDF.year.min()

#set index range for reindex
austriaIdx = pd.date_range(austriaMinYear, '2020', freq='YS')

# #reindex for each par fam and output as new DFs
austria10 = austria10df.reindex(index=austriaIdx, method='ffill')
# austria20 = austria20df.reindex(index=austriaIdx, method='ffill')
# austria30 = austria30df.reindex(index=austriaIdx, method='ffill')
# austria40 = austria40df.reindex(index=austriaIdx, method='ffill')
# austria50 = austria50df.reindex(index=austriaIdx, method='ffill')
# austria60 = austria60df.reindex(index=austriaIdx, method='ffill')
# austria70 = austria70df.reindex(index=austriaIdx, method='ffill')
# austria80 = austria80df.reindex(index=austriaIdx, method='ffill')
# austria90 = austria90df.reindex(index=austriaIdx, method='ffill')
# austria95 = austria95df.reindex(index=austriaIdx, method='ffill')
# austria98 = austria98df.reindex(index=austriaIdx, method='ffill')

ValueError: cannot reindex a non-unique index with a method or limit

In [17]:
sweden = sweden20.append(sweden60)